body{
  padding-top: 200px;
  background-image: url('img.jpg');
  background-size: cover;
}

.hhh {
  width: 360px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;

}

h2{
  padding-left: 70px;
  font-family: Consolas;
}

button{
  width: 60px;
height: 30px;
background-color: orange;
border-width: 0;
border-radius: 30px;
font-family: Consolas;
}
button:hover{
  color: white;
}

input{
  width: 170px;
height: 30px;
border-radius: 30px;
padding-left: 15px;
border-width: 0;

}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  height: 40px;
  width: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

ul li span:hover{
  background: #edeef0;
}

#list-container{
  padding-left: 0;
}
